<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ZenBlog Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS Files -->
  <link href="assets/css/variables.css" rel="stylesheet">
  <link href="assets/css/main.css" rel="stylesheet">

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>

  <!-- =======================================================
  * Template Name: ZenBlog
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/zenblog-bootstrap-blog-template/
  * Author: BootstrapMade.com
  * License: https:///bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="assets/img/logo.png" alt="">
        <h1>Alô Microfone</h1>
        <!-- <label>Escolha sua cidade<input type="text" v-model="cidade" class="form-control"></label>
        <button @click="buscarCidade()">Ir</button> -->
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="index.html">Blog</a></li>
          <li><a href="single-post.html">Single Post</a></li>
          <li class="dropdown"><a href="category.html"><span>Categories</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="search-result.html">Search Result</a></li>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>

          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

      <div class="position-relative">
        <a href="#" class="mx-2"><span class="bi-facebook"></span></a>
        <a href="#" class="mx-2"><span class="bi-twitter"></span></a>
        <a href="#" class="mx-2"><span class="bi-instagram"></span></a>

        <a href="#" class="mx-2 js-search-open"><span class="bi-search"></span></a>
        <i class="bi bi-list mobile-nav-toggle"></i>

        <!-- ======= Search Form ======= -->
        <div class="search-form-wrap js-search-form-wrap">
          <form action="search-result.html" class="search-form">
            <span class="icon bi-search"></span>
            <input type="text" placeholder="Search" class="form-control">
            <button class="btn js-search-close"><span class="bi-x"></span></button>
          </form>
        </div><!-- End Search Form -->

      </div>

    </div>

  </header><!-- End Header -->

  <main id="main">
    <!-- <a href="single-post.html" class="img-bg d-flex align-items-end" style="background-image: url('https://viagemeturismo.abril.com.br/wp-content/uploads/2017/12/istock-842960000.jpg?quality=70');">
    <div class="img-bg-inner">
      <h2 id="temperatura-atual-titulo"></h2>
      <h3 id="temperatura-atual-texto"></h3>
      <h4 id="temperatura-maxima" style="font-size: 16px;"></h4>
      <h2 id="temperatura-minima" style="font-size: 16px;"></h2>
    </div> -->
                  <!-- </a> -->
    <!-- ======= Hero Slider Section ======= -->
    <!-- <pre>Classificação: {{ classificacao }}</pre> -->
    <section id="hero-slider" class="hero-slider">
      <div class="container-md" data-aos="fade-in">
        <div class="row">
          <div class="col-12">
            <div class="swiper sliderFeaturedPosts">
              <div class="swiper-wrapper">
                <div class="swiper-slide" v-for="torneio in classificacao">
                  <!-- {{ torneio.standings[0].table }} -->
                  <!-- <a href="single-post.html" class="img-bg d-flex align-items-end" style="background-image: url('assets/img/post-slide-1.jpg');"> -->
                  <!-- <a href="single-post.html" class="img-bg d-flex align-items-end"> -->
                  <a :href="`${(torneio.competition.code).toLowerCase()}.html`" class="img-bg d-flex align-items-end">
                    <div class="img-bg-inner">
                      <!-- <h2 id="temperatura-atual-titulo"></h2>
                      <h4 id="temperatura-atual-texto"></h4>
                      <h3 id="temperatura-maxima" style="font-size: 16px;"></h3>
                      <h3 id="temperatura-minima" style="font-size: 16px;"></h3> -->
                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Equipe</th>
                            <th scope="col">Pontos</th>
                            <th scope="col">Jogos</th>
                            <th scope="col">Vitórias</th>
                            <!-- <th scope="col">Empates</th>
                            <th scope="col">Derrotas</th> -->
                          </tr>
                        </thead>
                        <!-- <tbody> -->
                        <tbody v-for="c, i in torneio.standings[0].table" v-show="i < 5">
                          <!-- <pre>{{c}}</pre> -->
                          <!-- <th scope="row"></th>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td> -->
                          <th scope="row">{{ c.position }}</th>
                          <td>{{ c.team.shortName }}</td>
                          <td>{{ c.points }}</td>
                          <td>{{ c.playedGames }}</td>
                          <td>{{ c.won }}</td>
                          <!-- <td>{{ c.draw }}</td>
                          <td>{{ c.lost }}</td>
                          <td>{{ c.goalDifference }}</td> -->
                        </tbody>
                      </table>
                    </div>
                  </a>
                </div>
              </div>
            <div class="custom-swiper-button-next">
              <span class="bi-chevron-right"></span>
            </div>
            <div class="custom-swiper-button-prev">
              <span class="bi-chevron-left"></span>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </section><!-- End Hero Slider Section -->

    <!-- ======= Post Grid Section ======= -->
    

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

  <!--   <div class="footer-content">
      <div class="container">

        <div class="row g-5">
          <div class="col-lg-4">
            <h3 class="footer-heading">About ZenBlog</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam ab, perspiciatis beatae autem deleniti voluptate nulla a dolores, exercitationem eveniet libero laudantium recusandae officiis qui aliquid blanditiis omnis quae. Explicabo?</p>
            <p><a href="about.html" class="footer-link-more">Learn More</a></p>
          </div>
          <div class="col-6 col-lg-2">
            <h3 class="footer-heading">Navigation</h3>
            <ul class="footer-links list-unstyled">
              <li><a href="index.html"><i class="bi bi-chevron-right"></i> Home</a></li>
              <li><a href="index.html"><i class="bi bi-chevron-right"></i> Blog</a></li>
              <li><a href="category.html"><i class="bi bi-chevron-right"></i> Categories</a></li>
              <li><a href="single-post.html"><i class="bi bi-chevron-right"></i> Single Post</a></li>
              <li><a href="about.html"><i class="bi bi-chevron-right"></i> About us</a></li>
              <li><a href="contact.html"><i class="bi bi-chevron-right"></i> Contact</a></li>
            </ul>
          </div>
          <div class="col-6 col-lg-2">
            <h3 class="footer-heading">Categories</h3>
            <ul class="footer-links list-unstyled">
              <li><a href="category.html"><i class="bi bi-chevron-right"></i> Business</a></li>
              <li><a href="category.html"><i class="bi bi-chevron-right"></i> Culture</a></li>
              <li><a href="category.html"><i class="bi bi-chevron-right"></i> Sport</a></li>
              <li><a href="category.html"><i class="bi bi-chevron-right"></i> Food</a></li>
              <li><a href="category.html"><i class="bi bi-chevron-right"></i> Politics</a></li>
              <li><a href="category.html"><i class="bi bi-chevron-right"></i> Celebrity</a></li>
              <li><a href="category.html"><i class="bi bi-chevron-right"></i> Startups</a></li>
              <li><a href="category.html"><i class="bi bi-chevron-right"></i> Travel</a></li>

            </ul>
          </div>

          <div class="col-lg-4">
            <h3 class="footer-heading">Recent Posts</h3>

            <ul class="footer-links footer-blog-entry list-unstyled">
              <li>
                <a href="single-post.html" class="d-flex align-items-center">
                  <img src="assets/img/post-sq-1.jpg" alt="" class="img-fluid me-3">
                  <div>
                    <div class="post-meta d-block"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                    <span>5 Great Startup Tips for Female Founders</span>
                  </div>
                </a>
              </li>

              <li>
                <a href="single-post.html" class="d-flex align-items-center">
                  <img src="assets/img/post-sq-2.jpg" alt="" class="img-fluid me-3">
                  <div>
                    <div class="post-meta d-block"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                    <span>What is the son of Football Coach John Gruden, Deuce Gruden doing Now?</span>
                  </div>
                </a>
              </li>

              <li>
                <a href="single-post.html" class="d-flex align-items-center">
                  <img src="assets/img/post-sq-3.jpg" alt="" class="img-fluid me-3">
                  <div>
                    <div class="post-meta d-block"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                    <span>Life Insurance And Pregnancy: A Working Mom’s Guide</span>
                  </div>
                </a>
              </li>

              <li>
                <a href="single-post.html" class="d-flex align-items-center">
                  <img src="assets/img/post-sq-4.jpg" alt="" class="img-fluid me-3">
                  <div>
                    <div class="post-meta d-block"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                    <span>How to Avoid Distraction and Stay Focused During Video Calls?</span>
                  </div>
                </a>
              </li>

            </ul>

          </div>
        </div>
      </div>
    </div>

    <div class="footer-legal">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
            <div class="copyright">
              © Copyright <strong><span>ZenBlog</span></strong>. All Rights Reserved
            </div>

            <div class="credits"> -->
              <!-- All the links in the footer should remain intact. -->
              <!-- You can delete the links only if you purchased the pro version. -->
              <!-- Licensing information: https://bootstrapmade.com/license/ -->
              <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/herobiz-bootstrap-business-template/ -->
              <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>

          </div>

          <div class="col-md-6">
            <div class="social-links mb-3 mb-lg-0 text-center text-md-end">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

        </div>

      </div>
    </div> -->

  </footer>

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

  <script>
    var vm = new Vue({
      el: '#main',
      data() {
        return {
          cidade: '',
          classificacao: ''
        }
      },
      mounted() {
        fetch('resultado.json')
        .then(response => response.json())
        .then(data => {
          console.log(data)
          this.classificacao = data
          console.warn(this.classificacao)
          // this.classificacao = data.standings[0].table
          // console.log(classificacao.standings[0].table)

          // console.log(data.standings[0].table); // A resposta como um objeto JSON
          // Faça o que desejar com o objeto JSON aqui
        })
        .catch(error => {
          console.error('Ocorreu um erro:', error);
        });
      },
      watch: {
        classificacao: function() {
          console.log(this.classificacao)
        }
      },
      methods: {
        buscarCidade() {
          console.log(this.cidade)
          getClima(this.cidade)
        }
      },
    })
    // const axios = require('axios').default;
    var temperatura_atual
    var temperatura_maxima
    var temperatura_minima
    var previsao_amanha
    var local
    async function getClima (xyz) {
    // console.log(this.dias)
    let API_KEY = "ce36eceef4d7486091d95932230303"

    // Definir o local de interesse e o número de dias de previsão
    // let location = this.cidade
    let location = xyz
    // let days = this.dias
    let days = 2

    // Fazer a requisição HTTP para a API da weatherapi
    let url = `https://api.weatherapi.com/v1/forecast.json?key=${API_KEY}&q=${location}&days=${days}&lang=pt`
    
    try {
      let response = await axios.get(url)
      console.log(response.data)
      temperatura_atual = response.data.current.temp_c
      previsao_amanha = { maxima : response.data.forecast.forecastday[0].day.maxtemp_c , minima : response.data.forecast.forecastday[0].day.mintemp_c }
      temperatura_maxima = response.data.forecast.forecastday[0].day.maxtemp_c
      temperatura_minima = response.data.forecast.forecastday[0].day.mintemp_c
      local = response.data.location.name
      document.getElementById('temperatura-atual-titulo').innerText = `Temperatura atual em ${local} ${temperatura_atual}°`
      document.getElementById('temperatura-atual-texto').innerText = response.data.forecast.forecastday[0].day.condition.text
      document.getElementById('previsao-amanha-titulo').innerText = 'Previsão para Amanhã'
      document.getElementById('previsao-amanha-maxima').innerText = 'Máxima: ' + previsao_amanha.maxima + '°'
      document.getElementById('previsao-amanha-minima').innerText = 'Mínima: ' + previsao_amanha.minima + '°'
      document.getElementById('temperatura-maxima').innerText = 'Temperatura máxima: ' + temperatura_maxima + '°'
      document.getElementById('temperatura-minima').innerText = 'Temperatura mínima: ' + temperatura_minima + '°'
    } catch (error) {
      console.log(error)
    }
  }
  // getClima('Sao Paulo')
  // document.getElementById('titulo').innerText = `Temperatura atual: ${temperatura_atual}`
  // x = document.getElementById("titulo")
  // console.warn(x)
  // console.log(document.getElementById("titulo"))
  // var classificacao
  // fetch('resultado.json')
  // .then(response => response.json())
  // .then(data => {
  //   classificacao = data
  //   console.log(classificacao.standings[0])

  //   console.log(data.standings); // A resposta como um objeto JSON
  //   // Faça o que desejar com o objeto JSON aqui
  // })
  // .catch(error => {
  //   console.error('Ocorreu um erro:', error);
  // });

  // console.log(classificacao.standings[0])
  </script>

</body>

</html>