<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  <link href="../alo-microfone/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../alo-microfone/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
  <div id="main" class="container mt-3">
    <!-- <div class="d-flex justify-content-between"> -->
    <div class="row">
      <div class="col-md-2">
        <label class="" for="busca">Filme/Série:</label>
      </div>
      <div class="col-md-6">
        <input id="busca" class="form-control mr-2" type="text" name="" @keyup.enter="buscar" v-model="busca">    
      </div>
      <div class="col-md-4">
        <button class="btn btn-primary" @click="buscar()">Buscar</button>
      </div>
      <!-- <div class="form-group">
        <label for="">Nota:</label>
        <input class="form-control" type="text" disabled v-model="nota">
      </div> -->
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <img :src="imagem" alt="">
      </div>
      <div class="col-md-6">
        <p v-if="resultado.imdbRating">Nota: {{ resultado.imdbRating }}</p>
        <p v-if="resultado.Year">Ano: {{ resultado.Year }}</p>
        <p v-if="resultado.Actors">Elenco: {{ resultado.Actors }}</p>
        <p v-if="resultado.Country">País: {{ resultado.Country }}</p>
        <p v-if="resultado.Director">Diretor: {{ resultado.Director }}</p>
      <!-- <p id="movie">{{ busca }}</p>
      <p id="movie"></p> -->
      </div>
    </div>
  </div>
  <script src="../alo-microfone/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
<script>
  // function buscar() {
  //   let busca = document.getElementById('busca')
  //   let nota = document.getElementById('nota')
  //   // let movie = document.getElementById('movie')
  //   fetch(`https://www.omdbapi.com/?apikey=5b63ca10&t=${busca.value}`)
  //   .then(response => response.json())
  //   .then(data => {
  //     nota.setAttribute('value', data.imdbRating)
  //     // movie.textContent = JSON.stringify(data)
  //   })
  //   .catch(error => {
  //     console.error('Error fetching matches:', error);
  //   });
  // }
</script>
<script>
  // var eventBus = new Vue()
  var vmSidebar = new Vue({
    el: '#main',
    data() {
      return {
        busca: '',
        imagem: '',
        resultado: {},
        nota: ''
      }
    },
    mounted() {
      console.log('oi')
    },
    methods: {
      buscar() {
        // let movie = document.getElementById('movie')
        fetch(`https://www.omdbapi.com/?apikey=5b63ca10&t=${this.busca}`)
        .then(response => response.json())
        .then(data => {
          this.nota = data.imdbRating
          this.imagem = data.Poster
          this.resultado = data
        })
        .catch(error => {
          console.error('Error fetching matches:', error);
        });
      }
    }
  })
  </script>