<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../alo-microfone/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../alo-microfone/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  <script src="https://unpkg.com/piesocket-js@4"></script>
  <title>Document</title>
</head>
<body>
  <div id="main" class="container mt-2">
    <h1 class="text-center">Bingo do Codando</h1>
    <!-- <div id="globo" class="circle" @click="sortearNumero()">{{ numeroSorteado }}</div> -->
    <div v-if="usuario.nomeOk">
      <div v-if="usuario.nomeUsuario == 'adm_codando' && numeroSorteado == 'Play'" id="globo" style="cursor: pointer;" class="circle" @click="sortearNumero()">{{ numeroSorteado }}</div>
      <!-- <div v-else id="globo" class="circle">{{ numeroSorteado == 'Play' ? '?' : numeroSorteado }}</div> -->
      <div v-else id="globo" @click="sortearNumero()" class="circle">{{ numeroSorteado == 'Play' ? '?' : numeroSorteado }}</div>
    </div>
    <div>{{ numerosSorteados }}</div>
    <br>
    <div class="d-flex" id="identificacao" v-if="!usuario.nomeOk">
      <input class="form-control" type="text" v-model="usuario.nomeUsuario" placeholder="Digite seu nome" @keyup.enter="entrar">
      <button class="btn btn-primary" @click="entrar()">Entrar</button>
    </div>
    <div v-else>
      <div v-if="usuario.nomeUsuario == 'adm_codando'">
        <div v-for="jogador in jogadores">
          <p>{{ jogador.nome }}</p>
          <table class="table table-bordered">
            <tr v-for="(linha, index) in jogador.cartela" :key="linha">
              <td v-for="(i, index2) in linha" :key="i" class="text-center" :id="i == 'C' ? 'codando' : numerosSorteados.includes(i) ? 'marcado' : ''">{{ i }}</td>
            </tr>
          </table>
        </div>
        <!-- {{ jogadores }} -->
      </div>
      <div v-else>
        <table class="table table-bordered">
          <tr v-for="(linha, index) in cartela" :key="linha">
            <td v-for="(i, index2) in linha" :key="i" class="text-center" @click="marcar(i)" :id="i == 'C' ? 'codando' : ''">{{ i }}</td>
          </tr>
        </table>
        <div class="container mt-4 d-flex justify-content-center">
          <button type="button" @click="linha" class="btn btn-primary">Linha</button>
          <button type="button" @click="bingo" class="btn btn-secondary">Bingo</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
<script>
  var vmSidebar = new Vue({
    el: '#main',
    data() {
      return {
        usuario: {
          nomeUsuario: '',
          nomeOk: null
        },
        jogadores: [],
        numeros: [],
        intervaloSorteio: null,
        numeroSorteado: 'Play',
        numerosSorteados: [],
        cartela: [],
        dezenas: [],
        channel: ''
      }
    },
    mounted() {
      this.numeros = this.setNumeros()
      this.preencherCartela()

      var chatLog = document.getElementById('main')
      var piesocket = new PieSocket({
        clusterId: "demo",
        apiKey: "GsH6K7U9JnRvhJ4TNmdE8MUW8Zx9uX36i1cJwlSH",
        notifySelf: true,
        presence: true,
      });
      
      piesocket.subscribe("chat-room").then( ch => {
        vm = this
        vm.channel = ch
        vm.channel.listen('sortear_numero', function(data, meta) {
          if (vm.numeros[data.numeroSorteado] != 'C') {
            vm.numeroSorteado = vm.numeros.splice(data.numeroSorteado, 1)[0]
            vm.numerosSorteados.push(vm.numeroSorteado)
          }
        })

        vm.channel.listen('entrar', function(data, meta) {
          if (data.nomeUsuario != 'adm_codando') vm.jogadores.push({
            nome: data.nomeUsuario, cartela: data.cartela
          })
        })
      });

    },
    methods: {
      entrar() {
        this.usuario.nomeOk = true
        this.channel.publish("entrar", {
          nomeUsuario: this.usuario.nomeUsuario,
          cartela: this.cartela
        });
      },
      setNumeros() {
        let numeros = []
        for (let i = 1; i <= 75; i++) {
          numeros.push(i)
        }
        return numeros
      },
      sortearNumero() {
        let numeroAleatorio = Math.floor(Math.random() * this.numeros.length)

        //teste
        // var x = this.cartela.flat()
        // console.log(x)
        // let numeroAleatorio = Math.floor(Math.random() * x.length)

        //TESTE
        // if (x[numeroAleatorio] != 'C') {
        //   this.numeroSorteado = x.splice(numeroAleatorio, 1)[0]
        //   this.numerosSorteados.push(this.numeroSorteado)
        // }

        this.channel.publish("sortear_numero", {
            // sender: username,
            numeroSorteado: numeroAleatorio
        });
        // let audio = document.getElementById(this.numeroSorteado)
        // audio.play()
        this.intervaloSorteio = setInterval(()=>{
          let numeroAleatorio = Math.floor(Math.random() * this.numeros.length)

          //teste
          // let numeroAleatorio = Math.floor(Math.random() * x.length)

          //TESTE
          // if (x[numeroAleatorio] != 'C') {
          //   this.numeroSorteado = x.splice(numeroAleatorio, 1)[0]
          //   this.numerosSorteados.push(this.numeroSorteado)
          // }
        
          this.channel.publish("sortear_numero", {
            numeroSorteado: numeroAleatorio
        });
          // let audio = document.getElementById(this.numeroSorteado)
          // audio.play()
          }, 5000)
      },
      preencherCartela() {
        let numeros = [[], [], [], [], []]
        let j = 1
        let cont = 15
        for (let i = 0; i < 5; i++) {
          for (j; j <= cont; j++) {
            numeros[i].push(j)
          }
          j = cont + 1
          cont += 15
        }
        let cartelas = [[], [], [], [], []]
        for (let i = 0; i < 5; i++) {
          for (let j = 0; j < 5; j++) {
            if (i == 2 && j == 2) {
              cartelas[j].push('C')  
            } else {
              cartelas[j].push(numeros[i].splice([Math.floor(Math.random() * numeros[i].length)], 1)[0])
            }
          }
        }
        this.cartela = cartelas
      },
      marcar(i) {
        if (this.numerosSorteados.includes(i)) {
          event.currentTarget.id = 'marcado'
        }
      },
      linha() {
        // let horizontal = []
        // let vertical = []
        // let diagonal = []
        let linhas = []

        // verifiacao das linhas horizontais
        this.cartela.forEach(linha => {
          let validacao = true
          linha.forEach(element => {
            if (element != 'C' && !this.numerosSorteados.includes(element)) {
              validacao = false
            }
          })
          linhas.push(validacao)
        });

        // verificacao das linhas verticais
        for (let i = 0; i < 5; i++) {
          let validacao = true
          for (let j = 0; j < 5; j++) {
            if (this.cartela[j][i] != 'C' && !this.numerosSorteados.includes(this.cartela[j][i])) {
              validacao = false
            }
          }
          linhas.push(validacao)
        }

        // verificacao das linhas diagonal para direita
        let validacao = true
        for (let i = 0; i < 5; i++) {
          if (this.cartela[i][i] != 'C' && !this.numerosSorteados.includes(this.cartela[i][i])) {
            validacao = false
          }
        }
        linhas.push(validacao)
        
        // verificacao das linhas diagonal para esquerda
        validacao = true
        for (let i = 0, j = 4; i < 5 && j >= 0; i++, j--) {
          console.log(this.cartela[j][i])
          if (this.cartela[j][i] != 'C' && !this.numerosSorteados.includes(this.cartela[j][i])) {
            validacao = false
          }
        }
        linhas.push(validacao)

        // verifica se alguma das linhas esta completa 
        validacao = false
        linhas.forEach(el => {
          if (el ==  true) {
            validacao = el
          }
        })

        if (validacao) {
          alert('parabéns, você fechou uma linha')
        } else {
          alert('não, você ainda não completou uma linha')
        }
      },
      bingo() {
        let numeros = this.cartela.flat()
        validacao = true
        numeros.forEach(element => {
          if (element != 'C' && !this.numerosSorteados.includes(element)) {
            validacao = false
          }
        })
        if (validacao) {
          clearInterval(this.intervaloSorteio)
          alert('parabéns, bingoooo!')
          return
        } else {
          alert('não, você ainda não completou a cartela')
        }
      }
    },
  })
</script>
<style>
 .circle {
    width: 100px; /* Tamanho dobrado */
    height: 100px; /* Tamanho dobrado */
    border-radius: 50%;
    background-color: #007bff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem; /* Ajuste o tamanho da fonte conforme necessário */
    font-weight: bold;
    margin: 0 auto; /* Centraliza horizontalmente */
  }
  #codando {
    background-color: #007bff;
    color: #FFF;
    font-weight: bold;
    position: relative;
    text-align: center;
    /* font-size: 20px; */
  }
  #marcado {
    position: relative;
    text-align: center;
  }
  #marcado::before {
    content: 'X';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red; /* Cor do X */
    font-size: 18px; /* Tamanho do X */
    font-weight: bold;
  }
</style>