<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../alo-microfone/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../alo-microfone/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  <script src="https://unpkg.com/piesocket-js@4"></script>
  <title>Document</title>
</head>
<body>
  <div id="main" class="container mt-2">
    <h1 class="text-center">Bingo do Codando</h1>
    <div v-if="usuario.nomeOk">
      <h3 v-if="numeroSorteado == 'Play'">Olá {{ usuario.nomeUsuario }}! Aguarde o sorteio...</h3>
      <div v-if="usuario.nomeUsuario == 'adm_codando' && numeroSorteado == 'Play'" id="globo" style="cursor: pointer;" class="circle" @click="sortearNumero()">{{ numeroSorteado }}</div>
      <div v-else id="globo" @click="sortearNumero()" class="circle">{{ numeroSorteado == 'Play' ? '?' : numeroSorteado }}</div>
    </div>
    <div>{{ numerosSorteados }}</div>
    <br>
    <div class="d-flex" id="identificacao" v-if="!usuario.nomeOk">
      <input class="form-control" type="text" ref="inputNome" placeholder="Digite seu nome" @keyup.enter="entrar($refs.inputNome.value)">
      <button class="btn btn-primary" @click="entrar($refs.inputNome.value)">Entrar</button>
    </div>
    <div v-else>
      <div v-if="usuario.nomeUsuario == 'adm_codando'">
        <div v-for="jogador in jogadores">
          <p>{{ jogador.nome }}</p>
          <table class="table table-bordered">
            <tr v-for="linha in jogador.cartela" :key="linha">
              <td v-for="i in linha" :key="i" class="text-center" :id="i == 'C' ? 'codando' : numerosSorteados.includes(i) ? 'marcado' : ''">{{ i }}</td>
            </tr>
          </table>
        </div>
      </div>
      <div v-else>
        <table class="table table-bordered">
          <tr v-for="linha in usuario.cartela" :key="linha">
            <td v-for="i in linha" :key="i" class="text-center" @click="marcar(i)" :id="i == 'C' ? 'codando' : ''">{{ i }}</td>
          </tr>
        </table>
        <div class="row">
          <div class="col-sm-6 text-center">
            <button type="button" @click="linha" class="btn btn-primary">Linha</button>
          </div>
          <div class="col-sm-6 text-center">
            <button type="button" @click="bingo" class="btn btn-secondary">Bingo</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
<script>
  class Usuario {
    constructor (nome) {
      this.nomeUsuario = nome
      this.nomeOk = true
      this.cartela = this.preencherCartela()
    }
    preencherCartela() {
      // cria uma matriz com cinco listas de números, do primeiro ao décimo quinto, de forma consecutiva
      let numeros = [[], [], [], [], []]
      let j = 1
      let cont = 15
      for (let i = 0; i < 5; i++) {
        for (j; j <= cont; j++) {
          numeros[i].push(j)
        }
        j = cont + 1
        cont += 15
      }
      // cria uma matriz de cinco linhas
      let cartela = [[], [], [], [], []]
      for (let i = 0; i < 5; i++) {
        for (let j = 0; j < 5; j++) {
          if (i == 2 && j == 2) {
            cartela[j].push('C')  
          } else {
            cartela[j].push(numeros[i].splice([Math.floor(Math.random() * numeros[i].length)], 1)[0])
          }
        }
      }
      return cartela
    }
  }
  class ApiPieSocket {
    constructor () {
      this.numeroSorteado = ''
      this.piesocket = new PieSocket({
        clusterId: "demo",
        apiKey: "GsH6K7U9JnRvhJ4TNmdE8MUW8Zx9uX36i1cJwlSH",
        notifySelf: true,
        presence: true,
      })
      
      this.piesocket.subscribe("chat-room").then( ch => {
        let vm = this
        vm.channel = ch
        vm.channel.listen('sortear_numero', function(data, meta) {
          return data.numeroSorteado
        })

        vm.channel.listen('entrar', function(data, meta) {
          console.log(data)
          // if (data.nomeUsuario != 'adm_codando') {
          //   data.jogadores.push({
          //     nome: data.nomeUsuario, cartela: data.cartela
          //   })
          // } else {
          //   data.jogadores = data.jogadores
          // }
        })
      })
    }
    publicarSorteio(numeroSorteado) {
      this.channel.publish("sortear_numero", {
        numeroSorteado: numeroSorteado
      });
    }
    atualizarJogadores(usuario, jogadores) {
      this.channel.publish("entrar", {
        nomeUsuario: usuario.nomeUsuario,
        cartela: usuario.cartela
      })
    }
  }
  class Bingo {
    constructor() {
      this.globo = this.setNumeros()
      this.jogadores = []
    }
    setNumeros() {
      let numeros = []
      for (let i = 1; i <= 75; i++) {
        numeros.push(i)
      }
      return numeros
    }
    setJogadores(jogador) {
      this.jogadores.push(jogador)
    }
    sortearNumero() {
      let numeroAleatorio = Math.floor(Math.random() * this.globo.length)
      return this.globo.splice(numeroAleatorio, 1)[0]
    }
  }
  var vmSidebar = new Vue({
    el: '#main',
    data() {
      return {
        // usuario: {
        //   nomeUsuario: '',
        //   nomeOk: null
        // },
        jogo: {},
        inputNome: '',
        usuario: '',
        jogadores: [],
        numeros: [],
        intervaloSorteio: null,
        numeroSorteado: 'Play',
        numerosSorteados: [],
        cartela: [],
        channel: '',
        webSocketApi: new ApiPieSocket()
      }
    },
    mounted() {
      // console.log(this.jogo)
      // this.usuario.nome = 'Filipe', this.usuario.nomeOk = true
      // teste
      // this.usuario = new Usuario('adm_codando')
      this.jogo = new Bingo()
      this.numeros = this.setNumeros()
      // this.preencherCartela()
      // console.log(this.usuario)
      // this.cartela = this.usuario.cartela

      var piesocket = new PieSocket({
        clusterId: "demo",
        apiKey: "GsH6K7U9JnRvhJ4TNmdE8MUW8Zx9uX36i1cJwlSH",
        notifySelf: true,
        presence: true,
      })
      
      piesocket.subscribe("chat-room").then( ch => {
        vm = this
        vm.channel = ch
        vm.channel.listen('sortear_numero', function(data, meta) {
          if (vm.numeros[data.numeroSorteado] != 'C') {
            // vm.numeroSorteado = vm.numeros.splice(data.numeroSorteado, 1)[0]
            vm.numeroSorteado = data.numeroSorteado
            vm.numerosSorteados.push(vm.numeroSorteado)
          }
        })

        vm.channel.listen('entrar', function(data, meta) {
          if (data.nomeUsuario != 'adm_codando') {
            vm.jogadores.push({
              nome: data.nomeUsuario, cartela: data.cartela
            })
            vm.bingo
          } else {
            vm.jogadores = vm.jogadores
          }
        })
      });
    },
    methods: {
      entrar(nome) {
        this.usuario = new Usuario(nome)
        // this.jogo.
        // this.usuario = new Usuario(this.inputNome)
        // this.usuario.nomeOk = true
        this.channel.publish("entrar", {
          nomeUsuario: this.usuario.nomeUsuario,
          cartela: this.usuario.cartela
        })
        this.webSocketApi.atualizarJogadores(this.usuario, this.bingo.jogadores)
      },
      setNumeros() {
        let numeros = []
        for (let i = 1; i <= 75; i++) {
          numeros.push(i)
        }
        return numeros
      },
      sortearNumero() {
        let numeroSorteado = this.jogo.sortearNumero()
        this.webSocketApi.publicarSorteio(numeroSorteado)
        // let audio = document.getElementById(this.numeroSorteado)
        // audio.play()
        this.intervaloSorteio = setInterval(()=>{
          if (this.jogo.globo.length > 0) {
            let numeroSorteado = this.jogo.sortearNumero()
            this.webSocketApi.publicarSorteio(numeroSorteado)
          } else {
            clearInterval(this.intervaloSorteio)
          }
          // this.publicarSorteio(this.jogo.sortearNumero())
          // let audio = document.getElementById(this.numeroSorteado)
          // audio.play()
        }, 5000)
        // //teste
        // }, 100)

          //teste
        // var x = this.cartela.flat()
        // console.log(x)
        // let numeroAleatorio = Math.floor(Math.random() * x.length)

        //TESTE
        // if (x[numeroAleatorio] != 'C') {
        //   this.numeroSorteado = x.splice(numeroAleatorio, 1)[0]
        //   this.numerosSorteados.push(this.numeroSorteado)
        // }

          //teste
          // let numeroAleatorio = Math.floor(Math.random() * x.length)

          //TESTE
          // if (x[numeroAleatorio] != 'C') {
          //   this.numeroSorteado = x.splice(numeroAleatorio, 1)[0]
          //   this.numerosSorteados.push(this.numeroSorteado)
          // }
          // let audio = document.getElementById(this.numeroSorteado)
          // audio.play()

      },
      publicarSorteio(numeroAleatorio) {
        this.channel.publish("sortear_numero", {
            numeroSorteado: numeroAleatorio
        });
      },
      preencherCartela() {
        // cria uma matriz com cinco listas de números, do primeiro ao décimo quinto, de forma consecutiva
        let numeros = [[], [], [], [], []]
        let j = 1
        let cont = 15
        for (let i = 0; i < 5; i++) {
          for (j; j <= cont; j++) {
            numeros[i].push(j)
          }
          j = cont + 1
          cont += 15
        }
        // cria uma matriz de cinco linhas
        let cartelas = [[], [], [], [], []]
        for (let i = 0; i < 5; i++) {
          for (let j = 0; j < 5; j++) {
            if (i == 2 && j == 2) {
              cartelas[j].push('C')  
            } else {
              cartelas[j].push(numeros[i].splice([Math.floor(Math.random() * numeros[i].length)], 1)[0])
            }
          }
        }
        this.cartela = cartelas
      },
      marcar(i) {
        if (this.numerosSorteados.includes(i)) {
          event.currentTarget.id = 'marcado'
        }
      },
      linha() {
        // let horizontal = []
        // let vertical = []
        // let diagonal = []
        let linhas = []

        // verifiacao das linhas horizontais
        this.usuario.cartela.forEach(linha => {
        // this.cartela.forEach(linha => {
          let validacao = true
          linha.forEach(element => {
            if (element != 'C' && !this.numerosSorteados.includes(element)) {
              validacao = false
            }
          })
          linhas.push(validacao)
        });

        // verificacao das linhas verticais
        for (let i = 0; i < 5; i++) {
          let validacao = true
          for (let j = 0; j < 5; j++) {
            if (this.usuario.cartela[j][i] != 'C' && !this.numerosSorteados.includes(this.usuario.cartela[j][i])) {
              validacao = false
            }
          }
          linhas.push(validacao)
        }

        // verificacao das linhas diagonal para direita
        let validacao = true
        for (let i = 0; i < 5; i++) {
          if (this.usuario.cartela[i][i] != 'C' && !this.numerosSorteados.includes(this.usuario.cartela[i][i])) {
            validacao = false
          }
        }
        linhas.push(validacao)
        
        // verificacao das linhas diagonal para esquerda
        validacao = true
        for (let i = 0, j = 4; i < 5 && j >= 0; i++, j--) {
          console.log(this.usuario.cartela[j][i])
          if (this.usuario.cartela[j][i] != 'C' && !this.numerosSorteados.includes(this.usuario.cartela[j][i])) {
            validacao = false
          }
        }
        linhas.push(validacao)

        // verifica se alguma das linhas esta completa 
        validacao = false
        linhas.forEach(el => {
          if (el ==  true) {
            validacao = el
          }
        })

        if (validacao) {
          alert('parabéns, você fechou uma linha')
        } else {
          alert('não, você ainda não completou uma linha')
        }
      },
      bingo() {
        let numeros = this.usuario.cartela.flat()
        validacao = true
        numeros.forEach(element => {
          if (element != 'C' && !this.numerosSorteados.includes(element)) {
            validacao = false
          }
        })
        if (validacao) {
          clearInterval(this.intervaloSorteio)
          alert('parabéns, bingoooo!')
          return
        } else {
          alert('não, você ainda não completou a cartela')
        }
      }
    },
  })
</script>
<style>
 .circle {
    width: 100px; /* Tamanho dobrado */
    height: 100px; /* Tamanho dobrado */
    border-radius: 50%;
    background-color: #007bff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem; /* Ajuste o tamanho da fonte conforme necessário */
    font-weight: bold;
    margin: 0 auto; /* Centraliza horizontalmente */
  }
  #codando {
    background-color: #007bff;
    color: #FFF;
    font-weight: bold;
    position: relative;
    text-align: center;
    /* font-size: 20px; */
  }
  #marcado {
    position: relative;
    text-align: center;
  }
  #marcado::before {
    content: 'X';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red; /* Cor do X */
    font-size: 18px; /* Tamanho do X */
    font-weight: bold;
  }
</style>