input {
  width: 40px;
  border-radius: 5px;
  text-align: center;
}

button {
  border-radius: 5px;
  margin: 5px;
  padding: 1px 5px;
  background-color: cornflowerblue;
  color: white;
}

.ponto {
  text-align: center;
  margin: 5px;
}

.botoes {
  text-align: center;
}

.canvas {
  text-align: center;
  margin-top: 5px;
}

canvas {
  border: solid black 1px;
}

h3 {
  text-align: center;
}

.container-wrapper {
  text-align: center;
}

.container {
  /* display: flex; */
  display: inline-block;
}

.container > div {
  display: inline-block;
  margin: 0 5px; /* Adiciona margem entre as divs */
  vertical-align: top; /* Alinha as divs pela parte superior */
}

.col {
  font-size: initial; /* Retorna o tamanho da fonte ao normal */
  vertical-align: top; /* Alinha as divs pela parte superior */
  /* Adicione outros estilos conforme necessário */
}

.observacoes {
  text-align: center;
}